@charset "utf-8";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body{
	position: relative;
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}

/*********************** #header ***********************/
#header{
	max-width:1200px;
	/*width:90%;*/
	margin:0 auto;
}
#header>.moblie_nav_menu{
	display: none;
}
#header>.container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position:relative;
	width:100%;
	height:90px;
}
#header>.container>.mo_nav_hbg{
	display: none;
}
#header>.container>.mo_nav_hbg>.fa-bars{
	font-size:24px;
	color:#363636;
}
#header>.container>.left_lnb>ul,
#header>.container>.right_lnb>ul{
	display: flex;
	align-items: center;
	overflow: hidden;
}
#header>.container>.left_lnb>ul:hover,
#header>.container>.right_lnb>ul:hover{
	overflow: visible;
}
#header>.container>.left_lnb>ul>li,
#header>.container>.right_lnb>ul>li{
	position:relative;
}
#header>.container>.left_lnb>ul>li>a,
#header>.container>.right_lnb>ul>li>a{
	display: block;
	padding:15px 25px;
	color:#363636;
	font-weight: bold;
}
#header>.container>.left_lnb>ul>li>a:hover,
#header>.container>.right_lnb>ul>li>a:hover{
	color:#f2d124;
	transition: all 0.4s;
}
#header>.container>.right_lnb{
	display: flex;
	align-items: center;
}
#header>.container>.right_lnb>a{
	font-size:24px;
	padding:10px 25px;
	margin-left:9px;
	color:#363636;
	transition: all 0.4s;
}
#header>.container>.right_lnb>a:hover{
	color:#f2d124;
}
#header>.container>.left_lnb>ul>li>ul,
#header>.container>.right_lnb>ul>li>ul{
	position:absolute;
	top:49.2px;
	left:0;
	width:100%;
	text-align: center;
	z-index: 998;
}
#header>.container>.left_lnb>ul>li>ul>li:first-child,
#header>.container>.right_lnb>ul>li>ul>li:first-child{
	border-top:4px solid #f2d124;
}
#header>.container>.left_lnb>ul>li>ul>li>a,
#header>.container>.right_lnb>ul>li>ul>li>a{
	display: block;
	padding:8px 0;
	font-weight:500;
	font-size:15px;
	color:#363636;
}
#header>.container>.left_lnb>ul>li>ul>li>a:hover,
#header>.container>.right_lnb>ul>li>ul>li>a:hover{
	background-color:#f2d124;
	transition: all 0.4s;
}
#header>.container>.left_lnb>ul>li:hover>ul>li,
#header>.container>.right_lnb>ul>li:hover>ul>li{
	opacity: 1;
	transition: all 0.4s;
	background-color:#fff;
}
#header>.container>.left_lnb>ul>li>ul>li,
#header>.container>.right_lnb>ul>li>ul>li{
	opacity: 0;
}
/*********************** #img ***********************/
#img>#img_pc img,
#img>#img_mo img{
	width:100%;
	margin:0 auto;
}
.bx-wrapper{
	margin:0;
	box-shadow: none;
	border:none;
	background:none;
}
#img_pc .bx-wrapper .bx-prev{
	background: url(../images/icon_white_left.png) no-repeat 0 0px;
	left:20px;
	transition: all 0.4s;
}
#img_pc .bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus{
	background: url(../images/icon_white_left_hover.png) no-repeat 0 0px;
}
#img_pc .bx-wrapper .bx-next{
	background: url(../images/icon_white_right.png) no-repeat 0 0px;
	right:10px;
	transition: all 0.4s;
}
#img_pc .bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus{
	background: url(../images/icon_white_right_hover.png) no-repeat 0 0px;
}
#img_pc .bx-wrapper .bx-controls-direction a{
	height:40px;
	z-index:998;
}
#img_pc .bx-wrapper .bx-pager{
	display: none;
}
#img #img_mo{
	display: none;
}

/*********************** #mega_menu ***********************/
#main>#mega_menu{
	max-width:1200px;
	width:90%;
	margin:0 auto;
	margin-top:160px;
}
#main>#mega_menu>.section_title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}
#main>#mega_menu>.section_title>a{
	padding-bottom: 3px;
	border-bottom: 2px solid #363636;
	color:#363636;
	font-weight: 700;
}
#main>#mega_menu>.mega_poster>.poster_img{
	display: flex;
}
#main>#mega_menu>.mega_poster>.poster_img>li{
	position:relative;
}
#main>#mega_menu>.mega_poster>.poster_img>li>a:hover>.text{
	display: block;
}
#main>#mega_menu>.mega_poster>.poster_img>li img{
	display: block;
	width:100%;
}
#main>#mega_menu>.mega_poster>.poster_img>li .text{
	position:absolute;
	bottom:0px;
	left:0;
	width:100%;
	color:#fff;
	padding:30px;
	font-size:15px;
	line-height:20px;
	display: none;
}
#main>#mega_menu>.mega_poster>.poster_img>li .text span{
	display: block;
	margin-bottom: -10px;
	font-size:20px;
	font-weight: 600;
}
/*********************** #mega_sns ***********************/
#main>#mega_sns{
	max-width:1200px;
	width:90%;
	margin:0 auto;
	margin-top:160px;
}
#main>#mega_sns>h2{
	margin-bottom: 30px;
}
#main>#mega_sns>.link{
	display: flex;
	width:100%;
}
#main>#mega_sns>.link>.youtubeLink{
	position:relative;
	width:100%;
}
#main>#mega_sns>.link>.youtubeLink>div{
	width:100%;
	padding-bottom: 56.25%;
}
#main>#mega_sns>.link>.youtubeLink div iframe{
	position:absolute;
	z-index: 1;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:0;
}
#main>#mega_sns>.link>ul{
	padding-left:20px;
	width:50%;
}
#main>#mega_sns>.link>ul>li{
	border-bottom: 1px solid #ccc;
	padding:39px 0;
}
#main>#mega_sns>.link>ul>li:last-child{
	border-bottom: 0;
}
#main>#mega_sns>.link>ul>li>a{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#main>#mega_sns>.link>ul>li>a>.title{
	color:#363636;
	font-weight:500;
	font-size:20px;
	line-height: 26px;
}
#main>#mega_sns>.link>ul>li>a>.title>span{
	color:#ccc;
	font-size:14px;
}
#main>#mega_sns>.link>ul>li>a>.icon_sns{
	display: flex;
	align-items: center;
}

#main>#mega_sns>.link>ul>li>a>.icon_sns>img{
	padding-left:15px;
}
/*********************** #new_best ***********************/
#main>#new_best{
	max-width:1200px;
	width:90%;
	margin:0 auto;
	margin-top:160px;
}
#main>#new_best>.section_title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}
#main>#new_best>.section_title>a{
	padding-bottom: 3px;
	border-bottom: 2px solid #363636;
	color:#363636;
	font-weight: 700;
}
.slider_img .bx-wrapper .bx-prev{
	background: url(../images/icon_left.png) no-repeat 0 0px;
	left:0;
}
.slider_img .bx-wrapper .bx-next{
	background: url(../images/icon_right.png) no-repeat 0 0px;
	right:0;
}
.slider_img .bx-wrapper .bx-controls-direction a{
	height:50px;
	width:20px;
	z-index:998;
}
#main>#new_best>.slider_img{
	text-align: center;
}
#main>#new_best>.slider_img span{
	color:#363636;
}
/*********************** #footer ***********************/
#footer{
	position: relative;
	background-color:#575757;
	margin-top:160px;
}
#footer>.menu_line{
	position: absolute;
	content: "";
	display: block;
	top:80px;
	left:0;
	background-color:#ccc;
	width:100%;
	height:1px;
}
#footer>.footer_menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width:1200px;
	width:90%;
	margin:0 auto;
	height:80px;
	line-height: 80px;
}
#footer>.footer_menu a{
	color:#ccc;
	transition: all 0.4s;
}
#footer>.footer_menu a:hover{
	color:#bbb;
}
#footer>.footer_menu>.left_footer>ul{
	display: flex;
}
#footer>.footer_menu>.left_footer>ul>li{
	padding-right:30px;
}
#footer>.footer_menu>.left_footer>ul>li:last-child{
	padding-right:0px;
}
#footer>.footer_menu>.left_footer>ul>li>a>span{
	font-weight:bold;
}
#footer>.footer_menu>.right_footer>a{
	font-weight: bold;
}
#footer>.copy{
	display: flex;
	flex-direction: column;
	align-items: center;
	color:#ccc;
	font-size: 14px;
	padding:60px 0;
}
#footer>.copy>.footer_logo{
	padding-bottom: 30px;
}
#footer>.copy>.footer_text{
	text-align: center;
	line-height:22px;
}
/*********************** #search ***********************/
#search{
	display: none;
	position:fixed;
	top:0;
	left:0;
	z-index: 999;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
}
#search.view{
	display: block;
}
#search>.search_header{
	position:absolute;
	top:0;
	left:0;
	z-index: 1000;
	background-color:#fff;
	width:100%;
	height:90px;
}
#search>.search_header>.search_content{
	display: flex;
	justify-content: space-between;
	height:90px;
	max-width:1200px;
	width:90%;
	align-items: center;
	margin:0 auto;
}
#search>.search_header>.search_content>form{
	width:100%;
}
#search>.search_header>.search_content>form>input{
	display: block;
	padding:20px 35px;
	padding-right:0 !important;
	outline:none;
	border: 0;
	box-shadow: none;
	appearance:none;
	margin:0;
	width:100%;
	height:90px;
	font-size:18px;
}
#search>.search_header>.search_content>a{
	display: block;
	width:100px;
	height:90px;
	line-height:90px;
	text-align: center;
	font-size:30px;
	color:#363636;
}
#search>.search_header>.search_content>a:hover{
	color:#575757;
}
/*********************** #asidemenu ***********************/
#asidemenu{
	position: fixed;
	right:40px;
	bottom:40px;
}
#asidemenu>ul{
	background-color:#363636;
}
#asidemenu>ul>.aside_line{
	border-bottom: 1px solid rgba(255,255,255,.3);
	margin:0 13px;
}
#asidemenu>ul>li>a{
	display: flex;
	flex-direction: column;
	align-items: center;
	color:rgba(255,255,255,.5);
	padding:16px 15px;
	transition: all 0.4s;
}
#asidemenu>ul>li>a:hover{
	color:#fff;
}
#asidemenu>ul>li>a>i{
	font-size:22px;
}
#asidemenu>ul>li>a>span{
	font-size:11px;
	padding-top:5px;
}
#moblie_asideMenu{
	display: none;
}

@media screen and (max-width:1000px){
	/*메뉴 !!*/
	#header>.moblie_nav_menu{
		display: none;
		position:absolute;
		top:0;
		left:0;
		z-index: 999;
		background-color:rgba(0,0,0,.5);
		width:100%;
		height:100%;
	}
	#header>.moblie_nav_menu.view{
		display: block;
	}
	#header>.moblie_nav_menu>.ad_menu{
		position:relative;
		z-index: 1000;
		padding-top:70px;
		width:250px;
		height:100%;
		background-color:#fff;
	}
	#header>.moblie_nav_menu>.ad_menu>.fa-times{
		position:absolute;
		top:24px;
		left:25px;
		font-size:24px;
		cursor: pointer;
	}
	#header>.moblie_nav_menu>.ad_menu>.acc_nm:first-of-type{
		border-top:1px solid #ccc;
	}
	#header>.moblie_nav_menu>.ad_menu>.acc_nm>.acc_title{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 25px;
		color:#aaa;
		font-weight: bold;
		font-size:16px;
	}
	#header>.moblie_nav_menu>.ad_menu>.acc_nm>.acc_title>i{
		font-size:18px;
	}
	#header>.moblie_nav_menu>.ad_menu>.sub_menu{
		display: none;
	}
	#header>.moblie_nav_menu>.ad_menu>.sub_menu>a{
		display: flex;
		flex-direction: column;
		padding: 8px 30px;
		font-size: 14px;
		color:#363636;
	}
	#header>.container{
		height:70px;
	}
	#header>.container>.mo_nav_hbg{
		display: block;
		padding:10px 25px;
		cursor: pointer;
	}
	#header>.container>.left_lnb{
		display: none;
	}
	#header>.container>h1>a>img{
		width:180px;
	}
	#header>.container>.right_lnb>ul{
		display: none;
	}
	#search>.search_header{
		height:70px;
	}
	#search>.search_header>.search_content{
		height:70px;
	}
	#search>.search_header>.search_content>form>input{
		height:70px;
	}
}

@media screen and (max-width:768px){
	#header>.container>h1>a>img{
		width:150px;
	}
	#header>.container>.right_lnb>a{
		font-size:24px;
		padding:10px 25px;
		margin-left:9px;
		color:#363636;
		transition: none;
	}	
	#header>.container>.right_lnb>a:hover{
		color:#363636;
	}
	#main>#mega_menu,
	#main>#mega_sns,
	#main>#new_best,
	#footer{
		margin-top:100px;
	}
	#main>#mega_sns>.link{
		flex-direction: column;
	}
	#main>#mega_sns>.link>ul{
		padding-left:0;
		width:100%;
	}
	#main>#mega_sns>.link>ul>li{
		padding:25px 0;
	}
	#main>#mega_sns>.link>ul>li:last-child{
		border-bottom: 1px solid #ccc;
	}
	#footer>.footer_menu>.left_footer>ul>li{
		font-size:13px;
		padding-right:10px;
	}
	#footer>.footer_menu>.left_footer>ul>.mo_none{
		display: none;
	}
	#footer>.footer_menu>.right_footer>a{
		font-size:13px;
	}
	#footer>.copy{
		padding:60px 0 120px;
	}
	#footer>.copy>.footer_text{
		width:90%;
		line-height:16px;
		font-size:10.9px;
	}
	#footer>.copy>.copylight{
		font-size:11px;
	}
	#asidemenu{
		display: none;
	}
	#moblie_asideMenu{
		position: fixed;
		bottom: 0;
		left:0;
		width:100%;
		display: block;
		z-index: 1000;
	}
	#moblie_asideMenu>ul{
		display: flex;
		align-items: center;
		justify-content: space-around;
		width:100%;
		height:66px;
		background-color:#363636;
	}
	#moblie_asideMenu>ul>li>a{
		display: block;
		padding:30px;
		color:rgba(255,255,255,.5);
		text-align: center;
		transition: all 0.4s;
	}
	#moblie_asideMenu>ul>li>a:hover{
		color:#fff;
	}
	#moblie_asideMenu>ul>li>a>i{
		font-size:19px;
		margin-top:3px;
		padding: 3px 0;
	}
	#moblie_asideMenu>ul>li>a>span{
		font-size:10.5px;
		font-weight:600;
	}
}

@media screen and (max-width:500px){
	#img #img_pc{
		display: none;
	}
	#img #img_mo{
		display: block;
	}
	#img_mo .bx-wrapper .bx-prev{
		background: url(../images/icon_white_left.png) no-repeat 0 0;
		left:20px;
	}
	#img_mo .bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus{
		background: url(../images/icon_white_left_hover.png) no-repeat 0 0px;
	}
	#img_mo .bx-wrapper .bx-next{
		background: url(../images/icon_white_right.png) no-repeat 0 0;
		right:10px;
	}
	#img_mo .bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus{
		background: url(../images/icon_white_right_hover.png) no-repeat 0 0px;
	}
	#img_mo .bx-wrapper .bx-controls-direction a{
		height:40px;
		z-index:998;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active,
	.bx-wrapper .bx-pager.bx-default-pager a:focus{
		background:#f2d124;
	}
	.bx-wrapper .bx-pager.bx-default-pager a{
		background: #ccc;
		margin:0 15px;
	}
	#main>#mega_menu>.mega_poster>.poster_img{
		flex-direction: column;
	}
	#main>#mega_menu>.mega_poster>.poster_img>li{
		margin-bottom: 20px;
	}
	#main>#mega_menu>.mega_poster>.poster_img>li .text{
		display: block;
		font-size:16px;
	}
	#main>#mega_menu>.mega_poster>.poster_img>li>a:hover>.text{
		text-decoration: underline;
	}
	#main>#new_best>.slider_img span{
		font-size:12px;
	}
	#footer>.footer_menu>.left_footer>ul>li{
		font-size:11px;
	}
	#footer>.footer_menu>.right_footer>a{
		font-size:11px;
	}
}